# 1-Data PreProcessing
## Gabriel Wilmoth

In [1]:
import numpy as np    # for carrying out efficient computations
import pandas as pd   # for data manipulation and analysis
import seaborn as sns # library for making statistical graphics in Python
import matplotlib.pyplot as plt  #for visualizing the data
import math
import scipy 
from scipy import stats
import sklearn
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline

In [2]:
video = pd.read_csv('../AssignmentMaterials/Video_Store.tsv', sep='\t', header=0)

In [3]:
video.head()

   Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0        1      M  $45,000   25       27            2.5         Yes  Action
1        2      F  $54,000   33       12            3.4          No   Drama
2        3      F  $32,000   20       42            1.6          No  Comedy
3        4      F  $59,000   70       16            4.2         Yes   Drama
4        5      M  $37,000   35       25            3.2         Yes  Action

## Q1.
#### How many features are there?
 - There are 8 features.
 
## Q2.
#### How many features are continuous, and how many are nominal?
 - Continuous: Income, Age, Rentals, Avg Per Visit
 - Nominal: Cust ID, Gender, Incidentals, Genre

In [4]:
video["Income"] = video["Income"].str.replace('$','')
video["Income"] = video["Income"].str.replace(',','')
video["Income"] = video["Income"].astype(float)

In [5]:
video.head()

   Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0        1      M  45000.0   25       27            2.5         Yes  Action
1        2      F  54000.0   33       12            3.4          No   Drama
2        3      F  32000.0   20       42            1.6          No  Comedy
3        4      F  59000.0   70       16            4.2         Yes   Drama
4        5      M  37000.0   35       25            3.2         Yes  Action

## Q3.
#### For the continuous features, what are the average, median, maximum, and minimum values? What is the standard deviation?

#### Income Stats:

In [6]:
print('Mean:' , video["Income"].mean())
print('Median:' , video["Income"].median())
print('Max:' , video["Income"].max())
print('Min:' , video["Income"].min())
print('Standard Dev:' , video["Income"].std())

Mean: 42300.0
Median: 41000.0
Max: 89000.0
Min: 1000.0
Standard Dev: 21409.753642216627

#### Age Stats:

In [7]:
print('Mean:' , video["Age"].mean())
print('Median:' , video["Age"].median())
print('Max:' , video["Age"].max())
print('Min:' , video["Age"].min())
print('Standard Dev:' , video["Age"].std())

Mean: 31.56
Median: 30.0
Max: 70
Min: 15
Standard Dev: 12.000272105758475

#### Rentals Stats:

In [8]:
print('Mean:' , video["Rentals"].mean())
print('Median:' , video["Rentals"].median())
print('Max:' , video["Rentals"].max())
print('Min:' , video["Rentals"].min())
print('Standard Dev:' , video["Rentals"].std())

Mean: 26.24
Median: 25.0
Max: 48
Min: 9
Standard Dev: 10.027635283941828

#### Avg Per Visit Stats:

In [9]:
print('Mean:' , video["Avg Per Visit"].mean())
print('Median:' , video["Avg Per Visit"].median())
print('Max:' , video["Avg Per Visit"].max())
print('Min:' , video["Avg Per Visit"].min())
print('Standard Dev:' , video["Avg Per Visit"].std())

Mean: 2.748
Median: 2.75
Max: 4.7
Min: 1.1
Standard Dev: 0.8981250310667058

## Q4.

#### Perform the the following data preparation steps on the data (for each add a new column to the original table for comparison purposes)
1. Use <strong> smoothing by bin means </strong> to smooth the values of the <strong>Age</strong> attribute. Use a <strong>bin depth of 4</strong>.
2. Use <strong>min-max normalization</strong> to transform the values of the <strong>Income</strong> attribute onto the range <strong>[0.0-1.0]</strong>.
3. Use <strong>z-score normalization</strong> to standardize the values of the <strong>Rentals</strong> attribute.
4. <strong>Discretize</strong> the (original, non-normalized) <strong>Income</strong> attribute based on the following categories: High = 60K+; Mid = 25K-59K; Low = less than $25K.

In [10]:
bin_means, bin_edges, binnumber = stats.binned_statistic(video.index, video["Age"], statistic='mean', bins=12)

C:\Users\Faugh\Anaconda3\lib\site-packages\scipy\stats\_binned_statistic.py:607: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = result[core]

In [11]:

for x in bin_means:
    print(x)

36.6
27.75
32.5
30.0
27.25
24.75
38.0
34.0
32.0
31.25
28.75
34.0

In [12]:
print(bin_means.mean())

31.40416666666667

In [13]:
for x in bin_edges:
    print(x)

0.0
4.083333333333333
8.166666666666666
12.25
16.333333333333332
20.416666666666664
24.5
28.583333333333332
32.666666666666664
36.75
40.83333333333333
44.916666666666664
49.0

In [14]:
newlist = []
for x in binnumber:
    print(x)
    newlist.append(bin_means[x - 1])
    #Bassically get x at bin_means and add it to a dataframe
    print("")
    
print(len(binnumber))

1

1

1

1

1

2

2

2

2

3

3

3

3

4

4

4

4

5

5

5

5

6

6

6

6

7

7

7

7

8

8

8

8

9

9

9

9

10

10

10

10

11

11

11

11

12

12

12

12

12

50

In [15]:
for x in newlist:
    print(x)
print("")
print(len(newlist))

36.6
36.6
36.6
36.6
36.6
27.75
27.75
27.75
27.75
32.5
32.5
32.5
32.5
30.0
30.0
30.0
30.0
27.25
27.25
27.25
27.25
24.75
24.75
24.75
24.75
38.0
38.0
38.0
38.0
34.0
34.0
34.0
34.0
32.0
32.0
32.0
32.0
31.25
31.25
31.25
31.25
28.75
28.75
28.75
28.75
34.0
34.0
34.0
34.0
34.0

50

In [16]:
video["AgeMeanBin"] = newlist
video.head(10)

,Cust ID,Gender,Income,Age,Rentals,Avg Per Visit,Incidentals,Genre,AgeMeanBin
0,1,M,45000.0,25,27,2.5,Yes,Action,36.60
1,2,F,54000.0,33,12,3.4,No,Drama,36.60
2,3,F,32000.0,20,42,1.6,No,Comedy,36.60
3,4,F,59000.0,70,16,4.2,Yes,Drama,36.60
4,5,M,37000.0,35,25,3.2,Yes,Action,36.60
5,6,M,18000.0,20,33,1.7,No,Action,27.75
6,7,F,29000.0,45,19,3.8,No,Drama,27.75
7,8,M,74000.0,25,31,2.4,Yes,Action,27.75
8,9,M,38000.0,21,18,2.1,No,Comedy,27.75
9,10,F,65000.0,40,21,3.3,No,Drama,32.50

### Start of min-max norm Income

In [17]:
scaler = MinMaxScaler()

video['IncomeMinMax'] = scaler.fit_transform(video[['Income']])

In [18]:
video.head(10)

,Cust ID,Gender,Income,Age,Rentals,Avg Per Visit,Incidentals,Genre,AgeMeanBin,IncomeMinMax
0,1,M,45000.0,25,27,2.5,Yes,Action,36.60,0.500000
1,2,F,54000.0,33,12,3.4,No,Drama,36.60,0.602273
2,3,F,32000.0,20,42,1.6,No,Comedy,36.60,0.352273
3,4,F,59000.0,70,16,4.2,Yes,Drama,36.60,0.659091
4,5,M,37000.0,35,25,3.2,Yes,Action,36.60,0.409091
5,6,M,18000.0,20,33,1.7,No,Action,27.75,0.193182
6,7,F,29000.0,45,19,3.8,No,Drama,27.75,0.318182
7,8,M,74000.0,25,31,2.4,Yes,Action,27.75,0.829545
8,9,M,38000.0,21,18,2.1,No,Comedy,27.75,0.420455
9,10,F,65000.0,40,21,3.3,No,Drama,32.50,0.727273

### Start of Z-score Norm Rentals

In [19]:
video['RentalsZScore'] = stats.zscore(video['Rentals'])

In [20]:
video.head(10)

,Cust ID,Gender,Income,Age,Rentals,Avg Per Visit,Incidentals,Genre,AgeMeanBin,IncomeMinMax,RentalsZScore
0,1,M,45000.0,25,27,2.5,Yes,Action,36.60,0.500000,0.076560
1,2,F,54000.0,33,12,3.4,No,Drama,36.60,0.602273,-1.434493
2,3,F,32000.0,20,42,1.6,No,Comedy,36.60,0.352273,1.587613
3,4,F,59000.0,70,16,4.2,Yes,Drama,36.60,0.659091,-1.031546
4,5,M,37000.0,35,25,3.2,Yes,Action,36.60,0.409091,-0.124914
5,6,M,18000.0,20,33,1.7,No,Action,27.75,0.193182,0.680981
6,7,F,29000.0,45,19,3.8,No,Drama,27.75,0.318182,-0.729335
7,8,M,74000.0,25,31,2.4,Yes,Action,27.75,0.829545,0.479507
8,9,M,38000.0,21,18,2.1,No,Comedy,27.75,0.420455,-0.830072
9,10,F,65000.0,40,21,3.3,No,Drama,32.50,0.727273,-0.527861

### Start Discretize the (original, non-normalized) Income attribute based on the following categories: High = 60K+; Mid = 25K-59K; Low = less than $25K

In [26]:
i = 0
for x in video:
    if video.at[int(x), 'Income'] > 60000.0:
        print(++i)

ValueError: invalid literal for int() with base 10: 'Cust ID'