# 1-Data PreProcessing
## Gabriel Wilmoth

In [1]:
import numpy as np    # for carrying out efficient computations
import pandas as pd   # for data manipulation and analysis
import seaborn as sns # library for making statistical graphics in Python
import matplotlib.pyplot as plt  #for visualizing the data
import math
import scipy 
from scipy import stats
import sklearn
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline

In [2]:
video = pd.read_csv('../AssignmentMaterials/Video_Store.tsv', sep='\t', header=0)
videoStan = video

In [3]:
video.head()

   Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0        1      M  $45,000   25       27            2.5         Yes  Action
1        2      F  $54,000   33       12            3.4          No   Drama
2        3      F  $32,000   20       42            1.6          No  Comedy
3        4      F  $59,000   70       16            4.2         Yes   Drama
4        5      M  $37,000   35       25            3.2         Yes  Action

## Q1.
#### How many features are there?
 - There are 8 features.
 
## Q2.
#### How many features are continuous, and how many are nominal?
 - Continuous: Income, Age, Rentals, Avg Per Visit
 - Nominal: Cust ID, Gender, Incidentals, Genre

In [4]:
video["Income"] = video["Income"].str.replace('$','')
video["Income"] = video["Income"].str.replace(',','')
video["Income"] = video["Income"].astype(float)

In [5]:
video.head()

   Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0        1      M  45000.0   25       27            2.5         Yes  Action
1        2      F  54000.0   33       12            3.4          No   Drama
2        3      F  32000.0   20       42            1.6          No  Comedy
3        4      F  59000.0   70       16            4.2         Yes   Drama
4        5      M  37000.0   35       25            3.2         Yes  Action

## Q3.
#### For the continuous features, what are the average, median, maximum, and minimum values? What is the standard deviation?

#### Income Stats:

In [6]:
print('Mean:' , video["Income"].mean())
print('Median:' , video["Income"].median())
print('Max:' , video["Income"].max())
print('Min:' , video["Income"].min())
print('Standard Dev:' , video["Income"].std())

Mean: 42300.0
Median: 41000.0
Max: 89000.0
Min: 1000.0
Standard Dev: 21409.753642216627

#### Age Stats:

In [7]:
print('Mean:' , video["Age"].mean())
print('Median:' , video["Age"].median())
print('Max:' , video["Age"].max())
print('Min:' , video["Age"].min())
print('Standard Dev:' , video["Age"].std())

Mean: 31.56
Median: 30.0
Max: 70
Min: 15
Standard Dev: 12.000272105758475

#### Rentals Stats:

In [8]:
print('Mean:' , video["Rentals"].mean())
print('Median:' , video["Rentals"].median())
print('Max:' , video["Rentals"].max())
print('Min:' , video["Rentals"].min())
print('Standard Dev:' , video["Rentals"].std())

Mean: 26.24
Median: 25.0
Max: 48
Min: 9
Standard Dev: 10.027635283941828

#### Avg Per Visit Stats:

In [9]:
print('Mean:' , video["Avg Per Visit"].mean())
print('Median:' , video["Avg Per Visit"].median())
print('Max:' , video["Avg Per Visit"].max())
print('Min:' , video["Avg Per Visit"].min())
print('Standard Dev:' , video["Avg Per Visit"].std())

Mean: 2.748
Median: 2.75
Max: 4.7
Min: 1.1
Standard Dev: 0.8981250310667058

## Q4.

#### Perform the the following data preparation steps on the data (for each add a new column to the original table for comparison purposes)
1. Use <strong> smoothing by bin means </strong> to smooth the values of the <strong>Age</strong> attribute. Use a <strong>bin depth of 4</strong>.
2. Use <strong>min-max normalization</strong> to transform the values of the <strong>Income</strong> attribute onto the range <strong>[0.0-1.0]</strong>.
3. Use <strong>z-score normalization</strong> to standardize the values of the <strong>Rentals</strong> attribute.
4. <strong>Discretize</strong> the (original, non-normalized) <strong>Income</strong> attribute based on the following categories: High = 60K+; Mid = 25K-59K; Low = less than $25K.

### 1. 
Passing in the unique indices of our dataframe, the actual data we want to bin, how we want to bin, and then the number of the bin. Thus, returning us three values in which we use our bin means to append the binned values to the new column in our dataframe below.

In [10]:
bin_means, bin_edges, binnumber = stats.binned_statistic(video.index, video["Age"], statistic='mean', bins=12)

C:\Users\Faugh\Anaconda3\lib\site-packages\scipy\stats\_binned_statistic.py:607: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  result = result[core]

Means of all 12 bins

In [11]:
for x in bin_means:
    print(x)

36.6
27.75
32.5
30.0
27.25
24.75
38.0
34.0
32.0
31.25
28.75
34.0

In [12]:
ageMeanBin = []
for x in binnumber:
    ageMeanBin.append(bin_means[x - 1])
    #Basically get x at bin_means and add it to a dataframe

In [13]:
video["AgeMeanBin"] = ageMeanBin
video.head(10)

,Cust ID,Gender,Income,Age,Rentals,Avg Per Visit,Incidentals,Genre,AgeMeanBin
0,1,M,45000.0,25,27,2.5,Yes,Action,36.60
1,2,F,54000.0,33,12,3.4,No,Drama,36.60
2,3,F,32000.0,20,42,1.6,No,Comedy,36.60
3,4,F,59000.0,70,16,4.2,Yes,Drama,36.60
4,5,M,37000.0,35,25,3.2,Yes,Action,36.60
5,6,M,18000.0,20,33,1.7,No,Action,27.75
6,7,F,29000.0,45,19,3.8,No,Drama,27.75
7,8,M,74000.0,25,31,2.4,Yes,Action,27.75
8,9,M,38000.0,21,18,2.1,No,Comedy,27.75
9,10,F,65000.0,40,21,3.3,No,Drama,32.50

### 2.
Passing in video Income to a MinMaxScaler and creating a new column with said values

In [14]:
scaler = MinMaxScaler()
video['IncomeMinMax'] = scaler.fit_transform(video[['Income']])

In [15]:
video.head(10)

,Cust ID,Gender,Income,Age,Rentals,Avg Per Visit,Incidentals,Genre,AgeMeanBin,IncomeMinMax
0,1,M,45000.0,25,27,2.5,Yes,Action,36.60,0.500000
1,2,F,54000.0,33,12,3.4,No,Drama,36.60,0.602273
2,3,F,32000.0,20,42,1.6,No,Comedy,36.60,0.352273
3,4,F,59000.0,70,16,4.2,Yes,Drama,36.60,0.659091
4,5,M,37000.0,35,25,3.2,Yes,Action,36.60,0.409091
5,6,M,18000.0,20,33,1.7,No,Action,27.75,0.193182
6,7,F,29000.0,45,19,3.8,No,Drama,27.75,0.318182
7,8,M,74000.0,25,31,2.4,Yes,Action,27.75,0.829545
8,9,M,38000.0,21,18,2.1,No,Comedy,27.75,0.420455
9,10,F,65000.0,40,21,3.3,No,Drama,32.50,0.727273

### 3. 
Passing in video rentals to the zscore function and then setting said values to a new column.

In [16]:
video['RentalsZScore'] = stats.zscore(video['Rentals'])

In [17]:
video.head(10)

,Cust ID,Gender,Income,Age,Rentals,Avg Per Visit,Incidentals,Genre,AgeMeanBin,IncomeMinMax,RentalsZScore
0,1,M,45000.0,25,27,2.5,Yes,Action,36.60,0.500000,0.076560
1,2,F,54000.0,33,12,3.4,No,Drama,36.60,0.602273,-1.434493
2,3,F,32000.0,20,42,1.6,No,Comedy,36.60,0.352273,1.587613
3,4,F,59000.0,70,16,4.2,Yes,Drama,36.60,0.659091,-1.031546
4,5,M,37000.0,35,25,3.2,Yes,Action,36.60,0.409091,-0.124914
5,6,M,18000.0,20,33,1.7,No,Action,27.75,0.193182,0.680981
6,7,F,29000.0,45,19,3.8,No,Drama,27.75,0.318182,-0.729335
7,8,M,74000.0,25,31,2.4,Yes,Action,27.75,0.829545,0.479507
8,9,M,38000.0,21,18,2.1,No,Comedy,27.75,0.420455,-0.830072
9,10,F,65000.0,40,21,3.3,No,Drama,32.50,0.727273,-0.527861

### 4. 
Separating Income into the following categories: High = 60K+; Mid = 25K-59K; Low = less than $25K

In [18]:
discretizeIncome = [None]*50
for x in video.index:
    if video.at[int(x), 'Income'] >= 60000.0:
        discretizeIncome[x] = 'High'
    elif video.at[int(x), 'Income'] <= 59000.0 and video.at[int(x), 'Income'] >= 25000.0:
        discretizeIncome[x] = 'Mid'
    else:
        discretizeIncome[x] = 'Low'

In [19]:
video["DiscretizeIncome"] = discretizeIncome
video.head(10)

,Cust ID,Gender,Income,Age,Rentals,Avg Per Visit,Incidentals,Genre,AgeMeanBin,IncomeMinMax,RentalsZScore,DiscretizeIncome
0,1,M,45000.0,25,27,2.5,Yes,Action,36.60,0.500000,0.076560,Mid
1,2,F,54000.0,33,12,3.4,No,Drama,36.60,0.602273,-1.434493,Mid
2,3,F,32000.0,20,42,1.6,No,Comedy,36.60,0.352273,1.587613,Mid
3,4,F,59000.0,70,16,4.2,Yes,Drama,36.60,0.659091,-1.031546,Mid
4,5,M,37000.0,35,25,3.2,Yes,Action,36.60,0.409091,-0.124914,Mid
5,6,M,18000.0,20,33,1.7,No,Action,27.75,0.193182,0.680981,Low
6,7,F,29000.0,45,19,3.8,No,Drama,27.75,0.318182,-0.729335,Mid
7,8,M,74000.0,25,31,2.4,Yes,Action,27.75,0.829545,0.479507,High
8,9,M,38000.0,21,18,2.1,No,Comedy,27.75,0.420455,-0.830072,Mid
9,10,F,65000.0,40,21,3.3,No,Drama,32.50,0.727273,-0.527861,High

## Q5.
Convert the original table into the <strong> standard spreadsheet format. </strong> Note that this requires converting each categorical attribute into multiple attributes (one for each values of the categorical attribute) and assigning binary values corresponding to the presence or not presence of the attribute value in the original record). For example, the Gender attribute will be transformed into two attributes, "Genre=M" and "Genre=F". The numerical attributes will remain unchanged. This process should result in a new table with 12 attributes (one for Customer ID, two for Gender, one for each of Income, Age, Rentals, Avg. Per Visit, two for Incidentals, and three for Genre).

In [20]:
genderConv1 = [None]*50
genderConv2 = [None]*50
#Starting Conversion of Gender to Numerical
for x in videoStan.index:
    if videoStan.at[int(x), 'Gender'] == 'M':
        genderConv1[x] = 1
        genderConv2[x] = 0
    else:
        genderConv1[x] = 0
        genderConv2[x] = 1
videoStan["Male"] = genderConv1
videoStan["Female"] = genderConv2

#Starting Conversion of Incidentals to Numerical
incidentalsConv1 = [None]*50
incidentalsConv2 = [None]*50
for x in videoStan.index:
    if videoStan.at[int(x), 'Incidentals'] == 'Yes':
        incidentalsConv1[x] = 1
        incidentalsConv2[x] = 0
    else:
        incidentalsConv1[x] = 0
        incidentalsConv2[x] = 1
videoStan["Incidentals Yes"] = incidentalsConv1
videoStan["Incidentals No"] = incidentalsConv2

#Starting Conversion of Genre to Numerical
genreConv1 = [None]*50
genreConv2 = [None]*50
genreConv3 = [None]*50
for x in videoStan.index:
    if videoStan.at[int(x), 'Genre'] == 'Action':
        genreConv1[x] = 1
        genreConv2[x] = 0
        genreConv3[x] = 0
    elif videoStan.at[int(x), 'Genre'] == 'Drama':
        genreConv1[x] = 0
        genreConv2[x] = 1
        genreConv3[x] = 0
    else:
        genreConv1[x] = 0
        genreConv2[x] = 0
        genreConv3[x] = 1
videoStan["Action"] = genreConv1
videoStan["Drama"] = genreConv2
videoStan["Comedy"] = genreConv3

#Removing Coulmns not needed.
del videoStan['AgeMeanBin']
del videoStan['IncomeMinMax']
del videoStan['RentalsZScore']
del videoStan['DiscretizeIncome']
del videoStan['Gender']
del videoStan['Incidentals']
del videoStan['Genre']

In [21]:
videoStan.head(10)

,Cust ID,Income,Age,Rentals,Avg Per Visit,Male,Female,Incidentals Yes,Incidentals No,Action,Drama,Comedy
0,1,45000.0,25,27,2.5,1,0,1,0,1,0,0
1,2,54000.0,33,12,3.4,0,1,0,1,0,1,0
2,3,32000.0,20,42,1.6,0,1,0,1,0,0,1
3,4,59000.0,70,16,4.2,0,1,1,0,0,1,0
4,5,37000.0,35,25,3.2,1,0,1,0,1,0,0
5,6,18000.0,20,33,1.7,1,0,0,1,1,0,0
6,7,29000.0,45,19,3.8,0,1,0,1,0,1,0
7,8,74000.0,25,31,2.4,1,0,1,0,1,0,0
8,9,38000.0,21,18,2.1,1,0,0,1,0,0,1
9,10,65000.0,40,21,3.3,0,1,0,1,0,1,0

## Q6.
Using the standardized data set (from part 5), perform basic <strong> correlation analysis </strong> among the attributes. Discuss your results by indicating any strong correlations (positive or negative) among pairs of attributes. You need to construct a complete Correlation Matrix. Be sure to first remove the Customer ID column before creating the correlation matrix.

In [22]:
del videoStan['Cust ID']
rs = np.random.RandomState(0)
corr = videoStan.corr()
corr.style.background_gradient(cmap='coolwarm')

### Q6 Results
 - When comparing a feature to itself we obviously see a positive linear correlation.
 - Also when comparing the categorical features we modified in Q5, we can see a negative linear correlation when comparing one to the other (Male to Female). This is followed in every categorical feature except for genre as we have three possible genres.
 - One interesting correlation is between Age and Income, one would expect that as you get older you have a larger income. While in many cases this is true there are some outliers such as someone older not making much or a younger person making quite a lot. 0.63 is still a relatively high positive correlation, I would've expected it to be higher.
 - There is also a somewhat interesting correlation between one's age and watching a drama. Although, the correlation is 0.46 it still shows that as you grow older you tend to watch more dramas. This is not a strong correlation however, the two features as still positively correlated.