# 1-Data PreProcessing
## Gabriel Wilmoth

In [1]:
import numpy as np    # for carrying out efficient computations
import pandas as pd   # for data manipulation and analysis
import seaborn as sns # library for making statistical graphics in Python
import matplotlib.pyplot as plt  #for visualizing the data
import math

%matplotlib inline

In [6]:
video = pd.read_csv('./Data/Video_Store.tsv', sep='\t', header=0)

In [7]:
video.head()

   Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0        1      M  $45,000   25       27            2.5         Yes  Action
1        2      F  $54,000   33       12            3.4          No   Drama
2        3      F  $32,000   20       42            1.6          No  Comedy
3        4      F  $59,000   70       16            4.2         Yes   Drama
4        5      M  $37,000   35       25            3.2         Yes  Action

## Q1.
#### How many features are there?
 - There are 8 features.
 
## Q2.
#### How many features are continuous, and how many are nominal?
 - Continuous: Income, Age, Rentals, Avg Per Visit
 - Nominal: Cust ID, Gender, Incidentals, Genre

In [24]:
video["Income"] = video["Income"].str.replace('$','')
video["Income"] = video["Income"].str.replace(',','')
video["Income"] = video["Income"].astype(float)

In [25]:
video.head()

   Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0        1      M  45000.0   25       27            2.5         Yes  Action
1        2      F  54000.0   33       12            3.4          No   Drama
2        3      F  32000.0   20       42            1.6          No  Comedy
3        4      F  59000.0   70       16            4.2         Yes   Drama
4        5      M  37000.0   35       25            3.2         Yes  Action

## Q3.
#### For the continuous features, what are the average, median, maximum, and minimum values? What is the standard deviation?

#### Income Stats:

In [27]:
print('Mean:' , video["Income"].mean())
print('Median:' , video["Income"].median())
print('Max:' , video["Income"].max())
print('Min:' , video["Income"].min())
print('Standard Dev:' , video["Income"].std())

Mean: 42300.0
Median: 41000.0
Max: 89000.0
Min: 1000.0
Standard Dev: 21409.753642216627

#### Age Stats:

In [28]:
print('Mean:' , video["Age"].mean())
print('Median:' , video["Age"].median())
print('Max:' , video["Age"].max())
print('Min:' , video["Age"].min())
print('Standard Dev:' , video["Age"].std())

Mean: 31.56
Median: 30.0
Max: 70
Min: 15
Standard Dev: 12.000272105758475

#### Rentals Stats:

In [29]:
print('Mean:' , video["Rentals"].mean())
print('Median:' , video["Rentals"].median())
print('Max:' , video["Rentals"].max())
print('Min:' , video["Rentals"].min())
print('Standard Dev:' , video["Rentals"].std())

Mean: 26.24
Median: 25.0
Max: 48
Min: 9
Standard Dev: 10.027635283941828

#### Avg Per Visit Stats:

In [30]:
print('Mean:' , video["Avg Per Visit"].mean())
print('Median:' , video["Avg Per Visit"].median())
print('Max:' , video["Avg Per Visit"].max())
print('Min:' , video["Avg Per Visit"].min())
print('Standard Dev:' , video["Avg Per Visit"].std())

Mean: 2.748
Median: 2.75
Max: 4.7
Min: 1.1
Standard Dev: 0.8981250310667058

## Q4.

#### Perform the the following data preparation steps on the data (for each add a new column to the original table for comparison purposes)
1. Use <strong> smoothing by bin means </strong> to smooth the values of the <strong>Age</strong> attribute. Use a <strong>bin depth of 4</strong>.
2. Use <strong>min-max normalization</strong> to transform the values of the <strong>Income</strong> attribute onto the range <strong>[0.0-1.0]</strong>.
3. Use <strong>z-score normalization</strong> to standardize the values of the <strong>Rentals</strong> attribute.
4. <strong>Discretize</strong> the (original, non-normalized) <strong>Income</strong> attribute based on the following categories: High = 60K+; Mid = 25K-59K; Low = less than $25K.