# 1-Data PreProcessing
## Gabriel Wilmoth

In [13]:
import numpy as np    # for carrying out efficient computations
import pandas as pd   # for data manipulation and analysis
import seaborn as sns # library for making statistical graphics in Python
import matplotlib.pyplot as plt  #for visualizing the data
import math
import scipy 
from scipy import stats

%matplotlib inline

In [2]:
video = pd.read_csv('./Data/Video_Store.tsv', sep='\t', header=0)

In [3]:
video.head()

   Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0        1      M  $45,000   25       27            2.5         Yes  Action
1        2      F  $54,000   33       12            3.4          No   Drama
2        3      F  $32,000   20       42            1.6          No  Comedy
3        4      F  $59,000   70       16            4.2         Yes   Drama
4        5      M  $37,000   35       25            3.2         Yes  Action

## Q1.
#### How many features are there?
 - There are 8 features.
 
## Q2.
#### How many features are continuous, and how many are nominal?
 - Continuous: Income, Age, Rentals, Avg Per Visit
 - Nominal: Cust ID, Gender, Incidentals, Genre

In [4]:
video["Income"] = video["Income"].str.replace('$','')
video["Income"] = video["Income"].str.replace(',','')
video["Income"] = video["Income"].astype(float)

In [5]:
video.head()

   Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0        1      M  45000.0   25       27            2.5         Yes  Action
1        2      F  54000.0   33       12            3.4          No   Drama
2        3      F  32000.0   20       42            1.6          No  Comedy
3        4      F  59000.0   70       16            4.2         Yes   Drama
4        5      M  37000.0   35       25            3.2         Yes  Action

## Q3.
#### For the continuous features, what are the average, median, maximum, and minimum values? What is the standard deviation?

#### Income Stats:

In [6]:
print('Mean:' , video["Income"].mean())
print('Median:' , video["Income"].median())
print('Max:' , video["Income"].max())
print('Min:' , video["Income"].min())
print('Standard Dev:' , video["Income"].std())

Mean: 42300.0
Median: 41000.0
Max: 89000.0
Min: 1000.0
Standard Dev: 21409.753642216627

#### Age Stats:

In [7]:
print('Mean:' , video["Age"].mean())
print('Median:' , video["Age"].median())
print('Max:' , video["Age"].max())
print('Min:' , video["Age"].min())
print('Standard Dev:' , video["Age"].std())

Mean: 31.56
Median: 30.0
Max: 70
Min: 15
Standard Dev: 12.000272105758475

#### Rentals Stats:

In [8]:
print('Mean:' , video["Rentals"].mean())
print('Median:' , video["Rentals"].median())
print('Max:' , video["Rentals"].max())
print('Min:' , video["Rentals"].min())
print('Standard Dev:' , video["Rentals"].std())

Mean: 26.24
Median: 25.0
Max: 48
Min: 9
Standard Dev: 10.027635283941828

#### Avg Per Visit Stats:

In [9]:
print('Mean:' , video["Avg Per Visit"].mean())
print('Median:' , video["Avg Per Visit"].median())
print('Max:' , video["Avg Per Visit"].max())
print('Min:' , video["Avg Per Visit"].min())
print('Standard Dev:' , video["Avg Per Visit"].std())

Mean: 2.748
Median: 2.75
Max: 4.7
Min: 1.1
Standard Dev: 0.8981250310667058

## Q4.

#### Perform the the following data preparation steps on the data (for each add a new column to the original table for comparison purposes)
1. Use <strong> smoothing by bin means </strong> to smooth the values of the <strong>Age</strong> attribute. Use a <strong>bin depth of 4</strong>.
2. Use <strong>min-max normalization</strong> to transform the values of the <strong>Income</strong> attribute onto the range <strong>[0.0-1.0]</strong>.
3. Use <strong>z-score normalization</strong> to standardize the values of the <strong>Rentals</strong> attribute.
4. <strong>Discretize</strong> the (original, non-normalized) <strong>Income</strong> attribute based on the following categories: High = 60K+; Mid = 25K-59K; Low = less than $25K.

In [32]:
bin_means, bin_edges, binnumber = stats.binned_statistic(video["Age"], video["Age"], 'mean', bins=4)

In [33]:
for x in bin_means:
    print(x)

21.391304347826086
34.23529411764706
48.22222222222222
70.0

In [34]:
stats.binned_statistic(video["Age"], video["Age"], 'mean', bins=4)

BinnedStatisticResult(statistic=array([21.39130435, 34.23529412, 48.22222222, 70.        ]), bin_edges=array([15.  , 28.75, 42.5 , 56.25, 70.  ]), binnumber=array([1, 2, 1, 4, 2, 1, 3, 1, 1, 2, 1, 1, 3, 2, 2, 1, 2, 1, 1, 1, 3, 2,
       1, 2, 1, 2, 3, 3, 1, 1, 3, 2, 1, 2, 2, 1, 3, 2, 2, 1, 2, 1, 1, 1,
       2, 3, 2, 3, 1, 1], dtype=int64))

In [35]:
print(video)

    Cust ID Gender   Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0         1      M  45000.0   25       27            2.5         Yes  Action
1         2      F  54000.0   33       12            3.4          No   Drama
2         3      F  32000.0   20       42            1.6          No  Comedy
3         4      F  59000.0   70       16            4.2         Yes   Drama
4         5      M  37000.0   35       25            3.2         Yes  Action
5         6      M  18000.0   20       33            1.7          No  Action
6         7      F  29000.0   45       19            3.8          No   Drama
7         8      M  74000.0   25       31            2.4         Yes  Action
8         9      M  38000.0   21       18            2.1          No  Comedy
9        10      F  65000.0   40       21            3.3          No   Drama
10       11      F  41000.0   22       48            2.3         Yes   Drama
11       12      F  26000.0   22       29            2.9         Yes  Action
12       13      M  83000.0   46       14            3.6          No  Comedy
13       14      M  45000.0   36       24            2.7          No   Drama
14       15      M  68000.0   30       36            2.7         Yes  Comedy
15       16      M  17000.0   19       26            2.2         Yes  Action
16       17      M  36000.0   35       28            3.5         Yes   Drama
17       18      F   6000.0   16       39            1.8         Yes  Action
18       19      F  24000.0   25       41            3.1          No  Comedy
19       20      M  12000.0   16       23            2.2         Yes  Action
20       21      F  47000.0   52       11            3.1          No   Drama
21       22      M  25000.0   33       16            2.9         Yes   Drama
22       23      F   2000.0   15       30            2.5          No  Comedy
23       24      F  79000.0   35       22            3.8         Yes   Drama
24       25      M   1000.0   16       25            1.4         Yes  Comedy
25       26      F  56000.0   35       40            2.6         Yes  Action
26       27      F  62000.0   47       32            3.6          No   Drama
27       28      M  57000.0   52       22            4.1          No  Comedy
28       29      F  15000.0   18       37            2.1         Yes  Action
29       30      M  41000.0   25       17            1.4         Yes  Action
30       31      F  49000.0   56       15            3.2          No  Comedy
31       32      M  47000.0   30       21            3.1         Yes   Drama
32       33      M  23000.0   25       28            2.7          No  Action
33       34      F  29000.0   32       19            2.9         Yes  Action
34       35      M  74000.0   29       43            4.6         Yes  Action
35       36      F  29000.0   21       34            2.3          No  Comedy
36       37      M  89000.0   46       12            1.2          No  Comedy
37       38      M  41000.0   38       20            3.3         Yes   Drama
38       39      F  68000.0   35       19            3.9          No  Comedy
39       40      M  17000.0   19       32            1.8          No  Action
40       41      F  50000.0   33       17            1.4          No   Drama
41       42      M  32000.0   25       26            2.2         Yes  Action
42       43      F  49000.0   28       48            3.3         Yes   Drama
43       44      M  35000.0   24       24            1.7          No   Drama
44       45      M  56000.0   38       30            3.5         Yes   Drama
45       46      F  57000.0   43        9            1.1          No   Drama
46       47      F  69000.0   35       22            2.8         Yes   Drama
47       48      F  52000.0   47       14            1.6          No   Drama
48       49      M  31000.0   25       42            3.4         Yes  Action
49       50      M  24000.0   20       33            4.7          No  Action

In [20]:
video["AgeMeanBin"] = bin_means

ValueError: Length of values does not match length of index